

/* nav bar css */
#sign-in:hover, #navbarDropdown:hover, #nav-jobs:hover, #nav-contact:hover{
  text-decoration: underline;
  text-decoration-color:#02A382;
  
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.3rem;
  
}




#free-btn{
  transition: all .5s ease;
  background-color: #02A382 !important;
}

#free-btn:hover {
  color: #111111 !important;
  background-color: #02E3B5 !important;
  /* background-color: #30B39F !important; */
  transition: all .5s ease;
  font-weight: bold;
}

/* nav bar css ends */


/* search bar css */

.menu-search-wrapper {
  width: 48rem;
display:flex
}


.search-hide {
  display: none;
  transition: 1s;
}

.search {
width: 100%;
position: relative;
display: flex;
}

.search-title {
  vertical-align: middle;

  font-size:1rem;
  height: 3rem;
  /* background: #00B4CC; */
  background: #02A382;
  border-radius: 5px 0 0 5px;
  color: white;
  margin-right:-3px;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;

}

.search-phrase {

  width: 100%;
border: 3px solid #02A382;
border-right: none;
padding: 5px;
height: 3rem;
border-radius: 5px 0 0 5px;
outline: none;
color: #fff;
background-color: rgba(0, 0, 0, 0.7);
}

.search-title span {
  margin-top:3px;
}

.search-phrase:focus{
/* color: #02A382; */
color: #fff;
}

.search-btn {
width: 3rem;
height: 3rem;
border: 1px solid #02A382;
background: #02A382;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.hero-search-wrapper {
width: 50%;
height:5rem;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
}

.hero-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.hero-message h1 {
  color: #fff;
  font-size: 5rem;
}

.hero-message span {
  color: #02E3B5;
  font-size: 2rem;

}
  

.hero-search-wrap {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  

      
.hero-section {
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
  url('images/Venezuela-does-not-appear-in-the-Global-Teacher-Status.jpg');
     

   height: 100vh; 
  background-repeat: no-repeat;
  background-size: cover;
  
}

.next-section {
  background-color :rgb(235, 235, 191);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* search bar css ends */



.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/hero-image.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 832px;
}

.u-section-1 .u-text-1 {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  /* width: 404px;
  margin: 288px auto 60px; */
}

@media screen and (min-width: 1366px){

.menu-search-wrapper{
  width: 36rem;
}
}

@media screen and (min-width: 1280px){

  .menu-search-wrapper{
    width: 28rem;
  }
  }

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    /* margin-top: 325px; */
    margin-top: 100px;
    margin-right: 58px;
    font-size: 2.5rem;
    
  }

  .hero-message span {
    color: #02E3B5;
    font-size: 1.6rem;
    
  }
  .hero-search-wrapper{
    margin-top: 2rem;
  }

  .menu-search-wrapper{
    width: 15rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }
  .u-section-1 .u-text-1{
    font-size: 1.9rem;
  }
  .hero-search-wrapper{
    margin-top: 3rem;
    width: 80%;
  }

}



@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-1{
    font-size: 1.7rem;
  }
  
  .hero-message span {
    font-size: 1.3rem;
    
  }

}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-1{
    font-size: 1.0rem;
  }
  
  .hero-message span {
    font-size: 0.8rem;
    
  }
  

}.u-section-2 .u-sheet-1 {
  min-height: 844px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 33px auto 53px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 739px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 201px 0 0 53px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  margin: 31px 0 0 52px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 18px auto 0;
  padding: 11px 111px 12px 110px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 454px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/43e58410da371fdbca4056b25b36f2dfd7113d372338f6018ab7a8991e37219fa1d4cd3c78283c4f877ec47834d33d27a435e9e52d82b32ca77af6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 28px 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  margin: 326px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 454px;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/303807022-0.jpeg");
}

.u-section-2 .u-container-layout-3 {
  padding: 58px 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  margin: 295px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 328px;
  animation-duration: 1000ms;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/ari-he-MamWbmmaylY-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  margin: 173px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 328px;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/entrepreneuship_featured.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  margin: 173px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 609px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 403px;
  }

  .u-section-2 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 374px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 270px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 770px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 521px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 376px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 376px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2280px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 842px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 782px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 564px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 564px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1537px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 26px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 90px;
    padding-bottom: 11px;
    padding-left: 89px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 492px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 355px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 355px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 782px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 154px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 415px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 395px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 154px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 154px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 395px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 395px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-7 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-3 .u-icon-4 {
  height: 62px;
  width: 62px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 1px 0 0;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 154px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 154px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 395px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-10 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-3 .u-icon-5 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-11 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 326px;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 326px;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 326px;
  }

  .u-section-3 .u-icon-4 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1505px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 243px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 486px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1628px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 365px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 230px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 230px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 230px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 230px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 574px;
}

.u-section-4 .u-text-1 {
  width: 311px;
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  min-height: 343px;
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  grid-gap: 18px 18px;
  grid-auto-columns: calc(25% - 13.5px);
}

.u-section-4 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 247px auto 0;
}

.u-section-4 .u-image-1 {
  height: 230px;
  margin-top: -268px;
  margin-bottom: 0;
  filter: brightness(0.9);
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  margin: 50px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: 247px auto 0;
}

.u-section-4 .u-image-2 {
  height: 230px;
  margin-top: -268px;
  margin-bottom: 0;
  filter: brightness(0.9);
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  margin: 50px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 247px auto 0;
}

.u-section-4 .u-image-3 {
  height: 230px;
  margin-top: -268px;
  margin-bottom: 0;
  filter: brightness(0.9);
}

.u-section-4 .u-btn-3 {
  border-style: none none solid;
  margin: 50px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 247px auto 0;
}

.u-section-4 .u-image-4 {
  height: 230px;
  margin-top: -268px;
  margin-bottom: 0;
  filter: brightness(0.9);
}

.u-section-4 .u-btn-4 {
  border-style: none none solid;
  margin: 50px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-5 {
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-text-6 {
  margin: 247px auto 0;
}

.u-section-4 .u-image-5 {
  height: 230px;
  margin-top: -268px;
  margin-bottom: 0;
  filter: brightness(0.9);
}

.u-section-4 .u-btn-5 {
  border-style: none none solid;
  margin: 50px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-6 {
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-7 {
  margin: 247px auto 0;
}

.u-section-4 .u-image-6 {
  height: 230px;
  margin-top: -268px;
  margin-bottom: 0;
  filter: brightness(0.9);
}

.u-section-4 .u-btn-6 {
  border-style: none none solid;
  margin: 50px auto 0;
  padding: 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 301px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 206px;
  }

  .u-section-4 .u-image-1 {
    height: 190px;
    margin-top: -227px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 57px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 206px;
  }

  .u-section-4 .u-image-2 {
    height: 190px;
    margin-top: -227px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 57px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 206px;
  }

  .u-section-4 .u-image-3 {
    height: 190px;
    margin-top: -227px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 57px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 206px;
  }

  .u-section-4 .u-image-4 {
    height: 190px;
    margin-top: -227px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 57px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 206px;
  }

  .u-section-4 .u-image-5 {
    height: 190px;
    margin-top: -227px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 57px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 206px;
  }

  .u-section-4 .u-image-6 {
    height: 190px;
    margin-top: -227px;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 26px;
    min-height: 343px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
    grid-auto-columns: calc(50% - 9px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 6px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 312px;
  }

  .u-section-4 .u-image-1 {
    height: 291px;
    margin-top: -333px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 6px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 312px;
  }

  .u-section-4 .u-image-2 {
    height: 291px;
    margin-top: -333px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 6px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 312px;
  }

  .u-section-4 .u-image-3 {
    height: 291px;
    margin-top: -333px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 6px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 312px;
  }

  .u-section-4 .u-image-4 {
    height: 291px;
    margin-top: -333px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 6px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 312px;
  }

  .u-section-4 .u-image-5 {
    height: 291px;
    margin-top: -333px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 6px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 312px;
  }

  .u-section-4 .u-image-6 {
    height: 291px;
    margin-top: -333px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 29px;
    margin-bottom: 29px;
    min-height: 444px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-text-2 {
    margin-top: 370px;
    margin-left: 153px;
  }

  .u-section-4 .u-image-1 {
    height: 341px;
    margin-top: -391px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 370px;
    margin-left: 153px;
  }

  .u-section-4 .u-image-2 {
    height: 341px;
    margin-top: -391px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 370px;
    margin-left: 153px;
  }

  .u-section-4 .u-image-3 {
    height: 341px;
    margin-top: -391px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 370px;
    margin-left: 153px;
  }

  .u-section-4 .u-image-4 {
    height: 341px;
    margin-top: -391px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 370px;
    margin-left: 153px;
  }

  .u-section-4 .u-image-5 {
    height: 341px;
    margin-top: -391px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 370px;
    margin-left: 153px;
  }

  .u-section-4 .u-image-6 {
    height: 341px;
    margin-top: -391px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-4 .u-list-1 {
    min-height: 339px;
    margin-top: 19px;
    margin-bottom: 37px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    margin-top: 234px;
    margin-left: 75px;
  }

  .u-section-4 .u-image-1 {
    height: 215px;
    margin-top: -255px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 55px;
    margin-left: 96px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 234px;
    margin-left: 75px;
  }

  .u-section-4 .u-image-2 {
    height: 215px;
    margin-top: -255px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 55px;
    margin-left: 96px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 234px;
    margin-left: 75px;
  }

  .u-section-4 .u-image-3 {
    height: 215px;
    margin-top: -255px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 55px;
    margin-left: 96px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 234px;
    margin-left: 75px;
  }

  .u-section-4 .u-image-4 {
    height: 215px;
    margin-top: -255px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 55px;
    margin-left: 96px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 234px;
    margin-left: 75px;
  }

  .u-section-4 .u-image-5 {
    height: 215px;
    margin-top: -255px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 55px;
    margin-left: 96px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 234px;
    margin-left: 75px;
  }

  .u-section-4 .u-image-6 {
    height: 215px;
    margin-top: -255px;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 55px;
    margin-left: 96px;
  }
}.u-section-5 {
  background-image: none;
  min-height: 729px;
}

.u-section-5 .u-group-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 60px;
  min-height: 378px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 800;
  font-size: 3rem;
  font-style: normal;
  margin: 69px auto 0;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: 104px auto -272px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  min-height: 425px;
  grid-gap: 40px 40px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-5 .u-image-1 {
  width: 230px;
  height: 230px;
  background-image: url("images/pexels-photo-2381069.jpeg");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  margin: -63px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 23px 9px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-5 .u-text-4 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 9px 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 21px;
}

.u-section-5 .u-image-2 {
  width: 230px;
  height: 230px;
  background-image: url("images/pexels-photo-1181742.jpeg");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  margin: -63px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 23px 9px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-5 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 9px 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 21px;
}

.u-section-5 .u-image-3 {
  width: 230px;
  height: 230px;
  object-position: 50% 18.34%;
  background-image: url("images/pexels-photo-3681609.jpeg");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  margin: -63px auto 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 23px 9px 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 12px 9px 0;
}

.u-section-5 .u-text-10 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 880px;
    margin-bottom: -263px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 416px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 1370px;
  }

  .u-section-5 .u-group-1 {
    min-height: 900px;
  }

  .u-section-5 .u-list-1 {
    width: 660px;
    margin-bottom: -395px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    min-height: 1070px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -31px;
  }

  .u-section-5 .u-text-4 {
    margin-bottom: -32px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -31px;
  }

  .u-section-5 .u-text-7 {
    margin-bottom: -32px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -32px;
  }

  .u-section-5 .u-text-10 {
    margin-bottom: -32px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1518px;
  }

  .u-section-5 .u-group-1 {
    min-height: 1457px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1152px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-5 .u-image-1 {
    width: 190px;
    height: 190px;
    margin-top: -11px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 3px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 3px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin: 12px 2px 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-5 .u-image-2 {
    width: 190px;
    height: 190px;
    margin-top: -11px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: 3px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-left: 3px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin: 12px 2px 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 0;
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-5 .u-image-3 {
    width: 190px;
    height: 190px;
    margin-top: -11px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-left: 3px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-left: 3px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin: 12px 2px 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1543px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-5 .u-image-1 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-5 .u-image-2 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-5 .u-image-3 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 362px;
}

.u-section-6 .u-group-1 {
  width: 910px;
  min-height: 364px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.6;
  text-transform: none;
  margin: 37px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 6px auto 0;
  padding: 20px 33px 22px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-btn-1 {
    margin-top: 15px;
    padding-top: 17px;
    padding-bottom: 17px;

  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
    min-height: 406px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 723px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-7 .u-list-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 288px;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-7 .u-image-1 {
  width: 127px;
  height: 127px;
  background-image: url("images/9c46055bbd04143490a6512420b860bad17689d6df83f5a43eba861960d7aced178753263f8370d711d5e69f120d4aba9724ec0dc1bd46a1a76d2a_1280.jpg");
  background-position: 50% 0%;
  animation-duration: 1000ms;
  margin: 9px auto 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  width: 221px;
  margin: 50px auto 0;
}

.u-section-7 .u-text-3 {
  text-transform: none;
  margin: -53px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 11px;
}

.u-section-7 .u-image-2 {
  width: 127px;
  height: 127px;
  background-image: url("images/9a2a89aa13b6913f52fce772614139af972d5e8fd003ce16d0249e66b4c30f150e1d749f83cc2da8071b157306d2b3de1f6047bd42eb0fe9078614_1280.jpg");
  background-position: 50% 6.03%;
  animation-duration: 1000ms;
  margin: 9px auto 0;
}

.u-section-7 .u-text-4 {
  font-style: italic;
  width: 221px;
  margin: 50px auto 0;
}

.u-section-7 .u-text-5 {
  text-transform: none;
  font-size: 1.5rem;
  margin: -53px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 11px;
}

.u-section-7 .u-image-3 {
  width: 127px;
  height: 127px;
  background-image: url("images/Jane_mentor.jpeg");
  background-position: 50% 0%;
  animation-duration: 1000ms;
  margin: 9px auto 0;
}

.u-section-7 .u-text-6 {
  font-style: italic;
  width: 221px;
  margin: 50px auto 0;
}

.u-section-7 .u-text-7 {
  text-transform: none;
  font-size: 1.5rem;
  margin: -53px auto 0;
}

.u-section-7 .u-list-2 {
  margin-left: 0;
  margin-top: -18px;
  margin-bottom: 30px;
}

.u-section-7 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 270px;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-4 {
  padding: 29px 11px;
}

.u-section-7 .u-image-4 {
  width: 127px;
  height: 127px;
  background-image: url("images/b613d629fd4fae3ac228a7ad96628c8aa3037a0266739b94f3e5a81ad0fc70f53f50e2f6e31dfe7c3273844e60fbb1e3a6e848b5f815bc6603c133_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 10px auto 0 101px;
}

.u-section-7 .u-text-8 {
  text-transform: none;
  margin: 22px 117px 0 101px;
}

.u-section-7 .u-text-9 {
  font-style: italic;
  margin: 0 75px 0 59px;
}

.u-section-7 .u-container-layout-5 {
  padding: 29px 11px;
}

.u-section-7 .u-image-5 {
  width: 127px;
  height: 127px;
  background-image: url("images/1d445a3965e1c2559a04af898bf544343f261098cfa844df45d3dcd4c60db139e150005b7b38d64c122fb667f2d48764c45656b9bcf44cf0ebc8f4_1280.jpg");
  background-position: 50% 0%;
  animation-duration: 1000ms;
  margin: 10px auto 0 101px;
}

.u-section-7 .u-text-10 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 22px 117px 0 101px;
}

.u-section-7 .u-text-11 {
  font-style: italic;
  margin: 0 75px 0 59px;
}

.u-section-7 .u-container-layout-6 {
  padding: 29px 11px;
}

.u-section-7 .u-image-6 {
  width: 127px;
  height: 127px;
  background-image: url("images/90a90c93d91ae2b02787ef6fc4273649f4cd17da18ef15012284ab771a184ddd94c78d4d04ea9b1d839bfd86367480089f2b35fee22dab66841948_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 10px auto 0 101px;
}

.u-section-7 .u-text-12 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 22px 117px 0 101px;
}

.u-section-7 .u-text-13 {
  font-style: italic;
  margin: 0 75px 0 59px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-7 .u-text-1 {
    width: 307px;
    margin-top: 46px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 367px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 45px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-7 .u-list-2 {
    width: 940px;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
  }

  .u-section-7 .u-repeater-2 {
    min-height: 223px;
  }

  .u-section-7 .u-image-4 {
    margin-left: auto;
  }

  .u-section-7 .u-text-8 {
    width: 190px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-image-5 {
    margin-left: auto;
  }

  .u-section-7 .u-text-10 {
    width: 190px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-image-6 {
    margin-left: auto;
  }

  .u-section-7 .u-text-12 {
    width: 190px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-13 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 311px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 65px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: -70px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 27px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 65px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-top: -70px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 27px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 65px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-top: -70px;
  }

  .u-section-7 .u-list-2 {
    width: 720px;
    margin-top: 0;
    margin-bottom: 17px;
  }

  .u-section-7 .u-repeater-2 {
    min-height: 298px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: 16px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: 16px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-7 .u-text-11 {
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-12 {
    width: auto;
    margin-top: 16px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-7 .u-text-13 {
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1746px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 69px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 672px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 0 10px 30px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 14px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: -53px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 0 10px 30px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 14px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 28px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: -53px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 0 10px 30px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 14px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 28px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: -53px;
  }

  .u-section-7 .u-list-2 {
    margin-top: -19px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 804px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1649px;
  }

  .u-section-7 .u-text-1 {
    width: 205px;
    margin-top: 58px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 17px;
  }

  .u-section-7 .u-list-2 {
    margin-top: 0;
    margin-bottom: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}